@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap');
/*nav bar*/
.img{display: flex; list-style: none;color: rgb(81, 84, 87);}
.ii{color: #F3525A;}
li{margin-left: 20px;}
.q{margin-right: 20px;float: right;display: flex; top: 100px; position: relative;}
.ui{list-style: none; display: flex;float:right;font-size: 12px;}
select{border: none;}
.qwe{color:  #F3525A;margin-top: 0;margin-left: 30  px;font-family: 'Open Sans', sans-serif;}
.tt{width: 85pc;height:80pc;}
.container{margin-right: 50px;}

/*your busness*/
.ciimcm{position: absolute;top: 500px;}
.welcome{margin-left: 700px; margin-top: 100px; font-family:Open Sans; color: white; }
.normal{margin-left: 650px; margin-top: 40px; font-family:'Open Sans'sans-serif; font-style: bold; color:white; font-size: 50px;}
.komal{position: absolute; cursor: pointer;border-radius: 20px;left: 650px; left: 670px; height: 50px; width: 150px; background-color: #F3525A; border: 2px solid #F3525A; font-family: font-family:'Open Sans'sans-serif;}
.suryavanshi{position: absolute; cursor: pointer;border-radius: 20px;left: 850px;  height: 50px; width: 150px; font-family:'Open Sans'sans-serif; }

/*welcome to*/
.ritu{position: absolute;background-color: aliceblue;height: 350px; width: 883px;border: 2px solid alice ; top:985px; left: 700px;}
.rima{position: absolute; color: black; font-family:'Open Sans'sans-serif;left:25px; font-size :35px;}
.risha{position: absolute; color: #F3525A;font-family:'Open Sans'sans-serif;left: 200px; font-size: 40px;}
.yuvu{position: absolute ;font-family:'Open Sans'sans-serif;top : 1040px; left: 25px;color:#F3525A }
.kiya{position: absolute ;font-family:'Open Sans'sans-serif;top : 1100px; left: 25px;}
.rinu{position: absolute; cursor: pointer;border-radius: 20px;left: 650px;  height: 50px; width: 150px; background-color: #F3525A; border: 2px solid #F3525A; font-family:'Open Sans'sans-serif;top:100px; left: 0px;}

/*bussness planing*/
.riyansh{ position: absolute;background-color: #F3525A;height: 400px; width: 864px;border: 2px solid  #F3525A; top:985px; left: 720px;}
.ridhima{position:absolute; left: 50px;}
.divu{position: absolute;top: 50px;left: 50px; color: white;}

/*finacal annalisis*/
.crazy{position:absolute; left: 50px;left:750px;top:1100px ;}
.ypi{position: absolute;top:1150px;left: 750px; color: white;} 

/*legard advosry*/
.no{position:absolute; left: 750px;top: 1220px;}
.rr{position:absolute; left: 750px; top: 1270px;color: white;}

/*what we offer*/
.oop{position:absolute; left: 600px; top: 1400px;color:black; font-size: 50px;}

/*busness reserch*/
.abc{position: absolute;background-color:#dbd4d4;height: 250px; width: 450px;border: 2px solid #dbd4d4; top: 1530px; left: 4px;}
.vv{position: absolute;left: 30px; top: 80px;color:black; font-size: 30px;}
.kk{position: absolute;left: 30px; top: 130px;color:black; font-size: 15px;}


/*stretagic*/
.efj{position: absolute;background-color:#dbd4d4; height: 250px; width: 490px; border: 2px solid#dbd4d4; top: 1530px; left: 530px; }
.oh{position: absolute;left: 75px; top: 65px;color:black; font-size: 30px;}
.gg{position: absolute;left: 70px; top: 120px;color:black; font-size: 15px;}


/*market*/
.hij{position: absolute;background-color:#dbd4d4; height: 250px; width: 490px; border: 2px solID #dbd4d4;top: 1530px; left: 1100px;}
.tt{position: absolute;left: 85px; top: 70px;color:black; font-size: 30px;}
.pp{position: absolute;left: 75px; top: 120px;color:black; font-size: 15px;}

/*finacial*/
.jkl{position: absolute;background-color:#dbd4d4; height: 250px; width: 450px; border: 2px solid#dbd4d4; top: 1800px; left: 4px;}
.zz{position: absolute;left:30px; top: 80px;color:black; font-size: 30px;}
.uu{position: absolute;left:30px; top: 130px;color:black; font-size: 15px;}

/*legal*/
.mno{position: absolute;background-color:#dbd4d4; height: 250px; width: 490px; border: 2px solid#dbd4d4; top: 1800px; left: 530px;}
.pq{position: absolute;left: 70px; top: 65px;color:black; font-size: 30px;}
.rs{position: absolute;left: 75px; top:120px;color:black; font-size: 15px;}

/*tax*/
.opq{position: absolute;background-color:#dbd4d4; height: 250px; width: 490px; border: 2px solid#dbd4d4; top: 1800px; left: 1100px;}
.nm{position: absolute;left: 85px; top: 65px;color:black; font-size: 30px;}
.ee{position: absolute;left: 80px; top: 120px;color:black; font-size: 15px;}

/*why choose us*/
.e{ position: absolute; left: 600px; top: 2100px;color:black; font-size: 40px;}

/*best in idsutry*/
.done{position: absolute;top: 2260px; left:20px; font-size: 30px;color:black;}
.yut{position:absolute; top:2300px; left: 20px;font-size: 15px;color:black;}

/*99%success rate*/
.in{position: absolute;top:2400px; left: 20px;color: black;}
.out{position:absolute; top:2440px; left: 20px;font-size: 15px;color:black;}

/*awrd winning*/
.margin{position: absolute;top: 2530px; left: 20px;color: black;}
.top{position:absolute; top: 2570px; left: 20px;font-size: 15px;color:black;}

/*image*/
.zop{position: absolute; top: 2200px;left: 500px;height: 300px;}

/*button*/
.op{position: absolute;background-color: #F3525A; border: 2px solid #F3525A; height: 200px;width: 400px;top: 2500px ; left: 500px;}
.hii{position: absolute; cursor: pointer;border-radius: 20px;;  height: 50px; width: 150px; background-color: white; border: 2px solid white; font-family:'Open Sans'sans-serif;top:100px; left:600px; top: 2600px;}
.list{position: absolute; top:2500px; left: 500px;}

/*100%*/
.ek{position: absolute;top:2250px; left: 1000px;color: black;}
.do{position:absolute; top:2300px; left: 1000px;font-size: 15px;color:black; }

/*professional*/
.ten{position: absolute;top: 2400px; left: 1000px;color: black;}
.char{position:absolute; top:2450px; left: 1000px;font-size: 15px;color:black;}

/*24/7 customer support*/
.panch{position: absolute;top: 2550px; left: 1000px;color: black;}
.mk{position:absolute; top:2600px; left: 1000px;font-size: 15px;color:black;}

/*Request a free quote*/
.bm{position: absolute;height: 400px;width: 800px; background-color: rgb(235, 228, 219); border: 2px solid  rgb(235, 228, 219);top: 2750px;}
.hu{position:absolute; top:100px; color: black; left: 15px;}
.jj{position:absolute; top:200px; color: black; left: 15px;}
#fif{position: absolute;top:280px;}
#tit{position: absolute;top:330px;}
#nin{position: absolute;top: 280px;left: 300px;}
#gig{position: absolute;top: 330px;left: 300px; background-color: #e74f57; border: 2px solid  #e74f57}



/*image*/
.upi{position: absolute;top:2750px; left:800px; height: 400px; width:800px;}

/*our team members*/
.ii{position:absolute; top:3200px; color: rgb(2, 2, 15); left: 650px;}


/*three images*/
.cx{position: absolute; left:8px; top: 3300px; height: 500px; width: 500px}
.ll{position: absolute; left:550px; top: 3300px; height: 500px; width: 500px;}
.lp{position: absolute; left:1100px; top: 3300px; height: 500px; width: 500px}

/*one image*/
.hp{position: absolute; left:7px; top: 3850px; height: 400px; width:740px}

/*what say our client*/
#bui{position:absolute;height:400px;width: 855px; background-color: rgb(214, 205, 193); border: 2px solid rgb(214, 205, 193) ;top:3850px; left: 745px;}
.nb{position: absolute; top: 3900px;left: 800px;}
#qw{position: absolute;top:3950px;left:800px;}
.bn{ position:relative; width: 100px;top: 3000px; left: 800px; border-radius: 45px;}
.kp{position: absolute; top:4010px ; left:930px;}
.uj{position: absolute;top:4050px ; left:940px;}

/*latest blog post*/
.cy{ position: absolute;top:4300px ; left:650px;}
.aq{position: absolute; top: 4400px;left:8px; height: 400px; width: 500px;}
.shift{position: absolute; top: 4800px; background-color: #e25158;border: 1px solid#e74f57; height:100px; width:100px; left: 8px;}
.cz{position: absolute;top:4800px;left:12px;}
.qc{position: absolute;top:4825px;left:12px; color: azure;}
.dg{position: absolute;top:4850px;left:12px;}
.fx{position: absolute;top: 4810px;left:120px; height: 20px; width: 20px;}
.cn{position: absolute;top: 4810px;left:140px; height: 10px; width: 20px;}
.vk{position: absolute;top: 4810px;left:200px; height: 20px; width: 40px;}
.caps{position: absolute;top: 4810px;left:250px; height: 10px; width: 20px;}
.lorem{position: absolute;top: 4840px;left:110px; } 

/*latest blog post1*/
.end{position: absolute; top: 4400px;left:550px; height: 400px; width: 500px;}
.m{position: absolute; top: 4800px; background-color: #e25158;border: 1px solid#e74f57; height:100px; width:100px; left: 550px;}
.n{position: absolute;top:4800px;left:560px;}
.o{position: absolute;top:4830px;left:560px; color: white;}
.p{position: absolute;top:4855px;left:560px;}
.abhi{position: absolute;top: 4810px;left:700px; height: 20px; width: 20px;}
.r{position: absolute;top: 4810px;left:740px; height: 10px; width: 20px;}
.s{position: absolute;top: 4810px;left:800px; height: 20px; width: 40px;}
.t{position: absolute;top: 4810px;left:850px; height: 10px; width: 20px;}
.u{position: absolute;top: 4840px;left:700px;}



/*latest blog post2*/
.exit{position: absolute; top:4400px;left: 1100px; height: 400px; width: 500px;}
.v{position: absolute; top: 4800px; background-color: #e25158;border: 1px solid#e74f57; height:100px; width:100px; left: 1100px;}
.w{position: absolute;top:4800px;left:1110px;}
.x{position: absolute;top:4830px;left:1110px; color: white;}
.y{position: absolute;top:4855px;left:1110px;}
.z{position: absolute;top: 4810px;left:1260px; height: 20px; width: 20px;}
.om{position: absolute;top: 4810px;left:1290px; height: 10px; width: 20px;}
.yum{position: absolute;top: 4810px;left:1350px; height: 20px; width: 40px;}
.nx{position: absolute;top: 4810px;left:1390px; height: 10px; width: 20px;}
.sbi{position: absolute;top: 4840px;left:1250px;}

/*latest blog post3*/
.sip{ position: absolute;background-color: #e25158;border: 1px solid#e74f57;height: 250px; width:1600px;top: 5000px; left: 10px;}
.stay{position: absolute;top: 50px;left: 600px;}
#placeholder{position: absolute;top: 100px; left: 600px;}
#inout{position: absolute;top: 100px; left: 800px; background-color: rgb(3, 3, 59); border-radius: solid 2px  rgb(3, 3, 59); width: 60px;}

/*latest blog post3*/
.roman{position: absolute;background-color: rgb(3, 9, 44); border: 2px solid rgb(3, 9, 44); height: 400px; width: 1600px; top: 5250px; left: 10px; }

/*latest blog post4*/
.hhhh{position: absolute; top: 40px; left: 50px; color: white;}
.mmmm{position: absolute; top: 40px; left: 300px; color:white ;} 
.llll{position: absolute; top: 40px; left: 600px; color:white }
.vvvv{position: absolute; top: 40px; left: 900px; color:white }

/*latest blog 5*/
.space{position: absolute; top: 5350px; left:60px; color: white; font-size:15px;}
.long{position: absolute; top: 5400px; left:60px; color: white; font-size:15px;}
.short{position: absolute; top: 5450px; left:60px; color: white; font-size:15px;}
.inheri{position: absolute; top: 5500px; left:60px; color: white; font-size:15px;}
.spa{position: absolute; top: 5550px; left:60px; color: white; font-size:15px;}

/*latest blog 6*/
.dvd{position: absolute; top:5350px; left:350px; color: white; font-size:15px; }
.nothing{position: absolute; top:5400px;left:350px; color: white; font-size:15px;}
.is{position: absolute; top:5450px; left:350PX; color: white; font-size:15px;}
.impossible{position: absolute; top: 5500px; left:350PX; color: white; font-size:15px;}
.mind{position: absolute; top: 5550px; left:350PX; color: white; font-size:15px;}

/*latest blog 6*/
.TOM{position: absolute; top:5350px; left:640px; color: white; font-size:15px;}
.JERRY{position: absolute; top:5400px; left:640px; color: white; font-size:15px;}
.crop{position: absolute; top:5450px; left:640px; color: white; font-size:15px;}

/*latest blog 7*/
.cmm{position: absolute;height: 50px; width:50px; background-color: #e74f57;border: #e25158 2px solid ; left: 900px; top:5350px;}
.tiger{position: absolute;height: 50px; width:50px; background-color: #e74f57;border: #e25158 2px solid ; left: 970px; top:5350px;}
.jock{position: absolute;height: 50px; width:50px; background-color: #e74f57;border: #e25158 2px solid ; left: 1040px; top:5350px;}
.oklm{position: absolute;font-size:40px; color: antiquewhite;}
.ohjk{position: absolute; height: 50px; width:50px; background-color: #e74f57;border: #e25158 2px solid ; left: 1110px; top:5350px; }

#row{margin-top: 4500px;}
.window{position: absolute; color: #dbd4d4;left: 1000px; top: 5600px;}
